.sirenTypeFilterStyle {
  padding: 1rem;
  font-weight: bold;
  border-radius: 0.8rem;
  margin: 2rem;
  transition: 0.4s;
  background-color: rgb(215, 215, 215);
}

.optionTypeFilter {
  font-weight: bold;
  text-align: center;
}

.sirenTypeFilterStyle:hover {
  scale: 1.05;
}
