.singleTownButton {
  width: 100px;
  height: 100px;
  background-color: rgb(53, 53, 53);
  color: rgb(201, 201, 201);
  font-weight: bold;
  box-shadow: 0px 0px 10px cyan;
  border-radius: 1rem;
  transition: 0.3s;
  margin: 1rem;
}

.singleTownButton:hover {
  background-color: rgb(56, 56, 56);
  scale: 1.1;
}

.singleTownButton:active {
  background-color: rgb(33, 33, 33);
  scale: 0.9;
}

.singleTownButtonIsActive1 {
  /* on "UPOZORENJE NA NADOLAZEĆU OPANSOST" selected*/
  animation: 1s singleTownbuttonActiveAnimation1 linear infinite;
}

.singleTownButtonIsActive2 {
  /* on "NEPOSREDNA OPASNOST" selected*/
  animation: 1s singleTownbuttonActiveAnimation2 linear infinite;
}

.singleTownButtonIsActive3 {
  /* on "PRESTANAK OPASNOSTI" selected*/
  animation: 1s singleTownbuttonActiveAnimation3 linear infinite;
}

.singleTownButtonIsActive4 {
  /* on "VATROGASNA UZBUNA" selected*/
  animation: 1s singleTownbuttonActiveAnimation4 linear infinite;
}

@keyframes singleTownbuttonActiveAnimation1 {
  0% {
    box-shadow: 0px 0px 30px rgb(0, 0, 255, 0.2);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(0, 0, 255, 1);
  }
}

@keyframes singleTownbuttonActiveAnimation2 {
  0% {
    box-shadow: 0px 0px 30px rgb(249, 215, 28, 0.2);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(249, 215, 28, 1);
  }
}

@keyframes singleTownbuttonActiveAnimation3 {
  0% {
    box-shadow: 0px 0px 30px rgba(6, 121, 6, 0.2);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(7, 195, 7);
  }
}

@keyframes singleTownbuttonActiveAnimation4 {
  0% {
    box-shadow: 0px 0px 30px rgb(255, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 30px rgb(255, 0, 0, 1);
  }
}

@media only screen and (max-width: 750px) {
  .singleTownButton {
    margin: 0rem;
    scale: 0.8;
  }

  .singleTownButton:hover {
    scale: 0.9;
  }
}
